@font-face {
    font-family: "Norsebold";
    src: url('/Norse-Bold.otf');
}

body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(233deg, rgba(20,40,80,1) 0%, rgba(39,73,109,1) 49%, rgba(12,123,147,1) 100%);
    gap: 1em;
}

.title{
    font-family: "NorseBold";
    font-size: 7em;
    letter-spacing: 10px;
    color:#00A8CC;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    gap: 1em;
    background-color: #0C7B93;
}

.boardTiles{
    background-color: #00A8CC;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
}
